/* customize.css */

/* Default styles for larger screens */
.customize-page h1 {
        font-size: 34px;
        text-align: center; /* Center the heading */
      }
      
      /* Media query for smaller screens (e.g., mobile devices) */
      @media (max-width: 768px) {
        .customize-page h1 {
          font-size: 20px; /* Adjust font size for smaller screens */
        }
      }
      
      .customize-page {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 80vh; /* Center the content vertically on the page */
      }
      
      .customize-page .file-editing-components {
        display: flex;
        flex-direction: column; /* Arrange options vertically */
        align-items: center;
        background-color: #f8f8f8;
        padding: 30px;
        border-radius: 30px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        text-align: center; /* Center text in the options */
      }
      
      .customize-page form {
        background-color: #333;
        width: 700px; /* Set the desired width */
        padding: 30px;
        border-radius: 30px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        text-align: center; /* Center text in the form */
      }
      
      .customize-page h5 {
        font-size: 1.2rem;
        color: #2C2E43;
        margin-bottom: 10px;
        text-align: left; /* Align text to the left */
      }
      
      .customize-page label {
        display: block;
        margin-bottom: 10px;
        font-size: 1rem;
        color: #2C2E43;
        text-align: left; /* Align labels to the left */
      }
      
      .customize-page .radio-container {
        display: flex;
        flex-direction: column; /* Arrange options vertically */
        justify-content: center;
        gap: 5px; /* Add gap between options */
      }
      
      .customize-page select,
      .customize-page input[type="number"],
      .customize-page input[type="checkbox"] {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 1rem;
        color: #2C2E43;
      }
      
      .customize-page select {
        background-color: #fff;
      }
      
      .customize-page input[type="number"] {
        background-color: #fff;
      }
      
      .customize-page input[type="checkbox"] {
        margin-top: 5px;
      }
      
      .customize-page button[type="submit"] {
        background-color: #2C2E43;
        color: #fff;
        border: none;
        padding: 10px 10px; /* Adjust padding for better appearance */
        border-radius: 15px;
        font-size: 1rem;
        cursor: pointer;
        transition: background-color 0.3s;
        margin-top: 20px; /* Add margin to the button */
      }
      
      .customize-page button[type="submit"]:hover {
        background-color: #4d4f64;
      }
      